@page "/dashboard"
@using BlazorApp.Components
@using Microsoft.AspNetCore.SignalR.Client


<PageTitle>Dashboard</PageTitle>


@statusMessage

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            
            <MetricRectangle Title="Total Sales" Value="$1,234" BackgroundColor="#28a745" TextColor="#fff" />
            <MetricRectangle Title="New Users" Value="567" BackgroundColor="#007bff" TextColor="#fff" />
            <MetricRectangle Title="Active Sessions" Value="89" BackgroundColor="#ffc107" TextColor="#000" />
            
        </div>
    </div>
</section>



@code {

    private HubConnection connection;


    private string statusMessage = "Connecting to SignalR hub...";

    // dotnet add package Microsoft.AspNetCore.SignalR.Client
    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7000/signalr/stock")
            .WithAutomaticReconnect()
            .Build();

        connection.On<StockUpdate>("StockUpdate", (message) =>
        {            
            statusMessage = $"Received stock update: {message.productId} {message.quantity}";
            InvokeAsync(StateHasChanged);
        });

        await connection.StartAsync();

        statusMessage = "Connected to SignalR hub.";

    }

    record StockUpdate(int productId, int quantity);

}
